.meters {
   display: flex;
   flex-wrap: wrap;
}

.meters .meter-container {
   margin-right: 50px;
   margin-bottom: 30px;
}

.meters .meter-container .meter {
   width: 200px;
   height: 200px;
}

.meters .meter-container .controls :first-child {
   margin-right: 15px;
}
