<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
    {{- partial "head.html" . -}}
<body>
   <div class="container">
      {{- partial "header.html" . -}}
      <!-- Main Content -->
      <main>
         {{- block "main" . }}{{- end }}
         {{ if eq .Type "post" }} {{- partial "some-partial.html" . -}} {{ end }}
      </main>
      <!-- End of Main Content -->
      <!-- Right Section -->
      <div class="right-section">
         {{- partial "righttopnav.html" . -}}
         {{- partial "rightsection.html" . -}}
      </div>
   </div>
   {{- partial "footer.html" . -}}
   {{- partial "script.html" . -}}
</body>
</html>
