<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="msapplication-TileColor" content="#da532c">
   <meta name="theme-color" content="#ffffff">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
   <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
   <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
   <link rel="manifest" href="/images/site.webmanifest">
   <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="/css/progresscircle.css" />
   <link rel="stylesheet" type="text/css" href="/css/fluid-meter.css" />
   <link rel="stylesheet" type="text/css" href="/css/billboard.css" />
   <script type="text/javascript" src="/js/fluid-meter.js?v=007"></script>
   {{ $title := print .Site.Title " | " .Title }}
   {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
   <title>{{ $title }}</title>
</head>
