<!-- Sidebar Section -->
<aside>
   <div class="toggle">
      <div class="logo">
         <img src="images/logo.png">
         <h2>Sinica<span class="danger">ITS</span></h2>
      </div>
      <div class="close" id="close-btn">
         <span class="material-icons-sharp"> close </span>
      </div>
   </div>

   <div class="sidebar">
      {{ range .Site.Menus.main }}
         <a href="{{ .URL }}">
            {{ if .Pre }}
            <span class="material-icons-sharp">{{ .Pre }}</span>
            {{ end }}
            {{ $text := print .Name | safeHTML }}
            <h3>{{ $text }}</h3>
         </a>
      {{ end }}
   </div>
</aside>
