<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/htmx.org@1.9.5"></script>
<script type="text/javascript" src="https://d3js.org/d3.v6.min.js"></script>
<script type="text/javascript" src="/js/billboard.js"></script>
<script type="text/javascript" src="/js/billboard.pkgd.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/progresscircle.js"></script>
