{{ 
   $s := .details | len 
   $payed := 0
   range .details
      $payed += .total
   end 
}}
<div class="visits">
   <div class="status">
      <div class="info">
         <h3>{{ .bank }}</h3>
         <h1>{{ lang.NumFmt 0 (sub .total $payed) "- . ," }}</h1>
      </div>
      <div class="progresss">
         <svg>
            <circle cx="38" cy="38" r="36"></circle>
         </svg>
         <div class="percentage">
            <p>{{ sub 100 (math.Floor (mul (div $s .period) 100)) }} %</p>
         </div>
      </div>
   </div>
</div>
