<!-- Sidebar Section -->
<aside>
   <div class="toggle">
      <div class="logo">
         <img src="images/logo.png">
         <h2>My<span class="danger">Finance</span></h2>
      </div>
      <div class="close" id="close-btn">
         <span class="material-icons-sharp"> close </span>
      </div>
   </div>
   <div class="sidebar">
      {{ range .Site.Menus.main }}
         {{ $text := print .Name | safeHTML }}
text: {{ $text }} == {{ .Params.Selectedmenu }}
         <a href="{{ .URL }}" class="{{ cond (eq .Params.Selectedmenu $text) "active" ""}}">
         {{ if .Pre }}
            <span class="material-icons-sharp">{{ .Pre }}</span>
         {{ end }}
            <h3>{{ $text }}</h3>
         </a>
      {{ end }}
   </div>
</aside>
