<div class="nav">
   <button id="menu-btn">
      <span class="material-icons-sharp">
         menu
      </span>
   </button>
   <div class="dark-mode">
      <span class="material-icons-sharp active">
         light_mode
      </span>
      <span class="material-icons-sharp">
         dark_mode
      </span>
   </div>

   <div class="profile">
      <div class="info">
         <p>Hey, <b>Reza</b></p>
         <small class="text-muted">Admin</small>
      </div>
      <div class="profile-photo">
         <img src="images/profile-1.jpg">
      </div>
   </div>
</div>
<!-- End of Nav -->

<div class="user-profile">
   <div class="logo">
      <img src="images/logo.png">
      <h2>ITS</h2>
      <p>Information Technology Services</p>
   </div>
</div>

<div class="reminders">
   <div class="header">
      <h2>提醒事項</h2>
      <span class="material-icons-sharp">notifications_none</span>
   </div>
{{ range $.Site.Data.mcycle.mcycle }}
   {{ if eq .isDone false }}
   <div class="notification deactive">
      <div class="icon">
         <span class="material-icons-sharp">{{ .icon }}</span>
      </div>
      <div class="content">
         <div class="info">
            <h3>{{ .title }}</h3>
            <small class="text_muted">
               {{ .day }} NT.{{ lang.NumFmt 0 .mount "- . ," }}<span title="{{ .account }}">（{{ .bank }}）</span>
            </small>
         </div>
         <span class="material-icons-sharp">more_vert</span>
      </div>
   </div>
   {{ end }}
{{ end }}
</div>
