{{ partial "righttop.html" . }}
<div class="reminders">
   <div class="header">
      <h2>提醒事項</h2>
      <span class="material-icons-sharp">notifications_none</span>
   </div>
{{ range $.Site.Data.mcycle.mcycle }}
   {{ if eq .isDone false }}
   <div class="notification deactive">
      <div class="icon">
         <span class="material-icons-sharp">{{ .icon }}</span>
      </div>
      <div class="content">
         <div class="info">
            <h3>{{ .title }}</h3>
            <small class="text_muted">
               {{ .day }} NT.{{ lang.NumFmt 0 .mount "- . ," }}<span title="{{ .account }}">（{{ .bank }}）</span>
            </small>
         </div>
         <span class="material-icons-sharp">more_vert</span>
      </div>
   </div>
   {{ end }}
{{ end }}
</div>
