{{ define "main" }}
   {{ $time := time (int now.Unix )}}
   {{ $monthIndex := printf "%d" $time.Month }}
   {{ $curIncome := $.Site.Data.curmonth.income }}
   {{ $curExpense := $.Site.Data.curmonth.expense }}
   {{ $curBalance := $.Site.Data.curmonth.balance }}
   {{ $curIncomelen := $curIncome.summary | len }}
   {{ $expense := $.Site.Data.curexpanse }}
   {{ $revenue := $.Site.Data.curassets.revenue }}
   <h1>{{.Title}}</h1>
   <!-- Analyses -->
   <div class="analyse">
      <div class="sales">
         <div class="status">
           <div class="info">
              <h3>本月收入</h3>
              <h1>{{ lang.NumFmt 0  $revenue.marketprice "- . ," }}</h1>
           </div>
           <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                 <p>{{ $curIncome.increase }}</p>
              </div>
           </div>
         </div>
      </div>
      <div class="visits">
         <div class="status">
            <div class="info">
               <h3>本月支出</h3>
               <h1>{{ lang.NumFmt 0  $curExpense.total "- . ," }}</h1>
            </div>
            <div class="progresss">
               <svg>
                  <circle cx="38" cy="38" r="36"></circle>
               </svg>
               <div class="percentage">
                  <p>{{ $curExpense.increase }}</p>
               </div>
            </div>
         </div>
      </div>
      <div class="searches">
         <div class="status">
            <div class="info">
               <h3>本月餘額</h3>
               <h1>{{ lang.NumFmt 0 (sub $curIncome.total $curExpense.total) "- . ," }}</h1>
            </div>
            <div class="progresss">
               <svg>
                  <circle cx="38" cy="38" r="36"></circle>
               </svg>
               <div class="percentage">
                  <p>+21%</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- End of Analyses -->
<font color="white">
{{ $lifeFee := 0 }}  <!-- 生活費 -->
{{ $investFee := 0 }} <!-- 投資 -->
{{ $parentsFee := 0 }} <!-- 孝親費 -->
{{ range $elem := $expense.summary }}
   {{ if ne $elem.title "投資" }}
      {{ if eq $elem.title "育" }}
         {{ range $detail := $elem.detail }}
            {{ if eq $detail.subAccount "孝親費" }}
               {{ $parentsFee = add $parentsFee $detail.cnt }}
            {{ end }}
         {{ end }}
      {{ else }}
         {{ $lifeFee = add $lifeFee $elem.total }}
      {{ end }}
   {{ else }}
      {{ $investFee = add $investFee $elem.total }}
   {{ end }}
{{ end }}
</font>

   <!-- New Users Section -->
   <div class="new-users">
      <h2>{{ $monthIndex }}月分配項目</h2>
      <div class="user-list">
         <div class="meters">
            <div id="meter-1" class="meter-container">
               <div class="meter"></div>
               <h2 id="meter-1Tag" title="薪資、勞保撫卹、房租（不含投資收入）">總收入</h2>
            </div>
            <div id="meter-4" class="meter-container">
               <div class="meter"></div>
               <h2>投資理財（永豐）</h2>
            </div>
            <div id="meter-2" class="meter-container">
               <div class="meter"></div>
               <h2>年度費用（王道）</h2>
            </div>
            <div id="meter-3" class="meter-container">
               <div class="meter"></div>
               <h2>風險規避（上海商銀）</h2>
            </div>
            <div id="meter-5" class="meter-container">
               <div class="meter"></div>
               <h2>孝親費（富邦）</h2>
            </div>
          </div>
      </div>
   </div>
   <!-- End of New Users Section -->
   <!-- Recent Orders Table -->
   <div class="recent-orders">
      <h2>Recent Orders</h2>
      <table>
         <thead>
            <tr>
               <th>Course Name</th>
               <th>Course Number</th>
               <th>Payment</th>
               <th>Status</th>
               <th></th>
            </tr>
         </thead>
         <tbody></tbody>
      </table>
      <a href="#">Show All</a>
   </div>
   <!-- End of Recent Orders -->
<script>
addBall("Blue", {{ sub (int $revenue.marketprice) $lifeFee }}, {{ (int $revenue.marketprice) }}, "本月收入餘額");
addBall("pupple", 4140, 49680);
addBall("green", 5300, 63600);
addBall("lightblue", {{ $investFee }}, {{ $investFee }});
addBall("brown", {{ $parentsFee }}, 200000);

document.addEventListener("DOMContentLoaded",function(){
   AddNodes("#meter-1", ballElements[0]);
   const i = AddNodes("#meter-2", ballElements[1]);
   i.textShadowColor="#589100",i.textShadowOpacity=.4;
   const t = AddNodes("#meter-3", ballElements[2]);
   t.dropShadowColor="#ff4500";
   AddNodes("#meter-4", ballElements[3]);
   AddNodes("#meter-5", ballElements[4]);
});
</script>
{{ end }}
