 {{ $time := time (int now.Unix )}}
 {{ $monthIndex := printf "%d" $time.Month }}
 {{ $assets := $.Site.Data.curassets }}
{{ $total := add (int $assets.stocks.marketprice) (int $assets.found.marketprice) (int $assets.cash.marketprice) }}
<!-- 資產 -->
{{ with .Params.title }}
   <h1 id="title">{{ .Title }}</h1>
{{ end }}
   <!-- Analyses -->
   <div class="analyse">
      <div class="sales">
         <div class="status">
           <div class="info">
              <h3>現金</h3>
              <h1>{{ lang.NumFmt 0  $assets.cash.marketprice "- . ," }}</h1>
           </div>
           <div class="progresss">
              <svg>
                <circle cx="38" cy="38" r="36"></circle>
              </svg>
              <div class="percentage">
                 <p> </p>
              </div>
           </div>
         </div>
      </div>
      <div class="visits">
         <div class="status">
            <div class="info">
               <h3>股票現值</h3>
               <h1>{{ lang.NumFmt 0  $assets.stocks.marketprice "- . ," }}</h1>
            </div>
            <div class="progresss">
               <svg>
                  <circle cx="38" cy="38" r="36"></circle>
               </svg>
               <div class="percentage">
                  <p>{{ div (int $assets.stocks.marketprice) $total }}%</p>
               </div>
            </div>
         </div>
      </div>
      <div class="searches">
         <div class="status">
            <div class="info">
               <h3>基金現值</h3>
               <h1>{{ lang.NumFmt 0  $assets.found.marketprice "- . ," }}</h1>
            </div>
            <div class="progresss">
               <svg>
                  <circle cx="38" cy="38" r="36"></circle>
               </svg>
               <div class="percentage">
                  <p>+21%</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- End of Analyses -->
   <!-- New Users Section -->
   <div class="new-users">
      <h2>{{ $monthIndex }}月分配項目</h2>
      <div class="user-list">
         <div class="meters">
            <div id="meter-1" class="meter-container">
               <div class="meter"></div>
               <h2>生活費（）</h2>
            </div>
            <div id="meter-4" class="meter-container">
               <div class="meter"></div>
               <h2>投資理財（）</h2>
            </div>
            <div id="meter-2" class="meter-container">
               <div class="meter"></div>
               <h2>年度費用（）</h2>
            </div>
            <div id="meter-3" class="meter-container">
               <div class="meter"></div>
               <h2>風險規避（）</h2>
            </div>
            <div id="meter-5" class="meter-container">
               <div class="meter"></div>
               <h2>孝親費（）</h2>
            </div>
          </div>
      </div>
   </div>
   <!-- End of New Users Section -->
   <!-- Recent Orders Table -->
   <div class="recent-orders">
      <h2>銀行餘額</h2>
      <table>
         <thead>
            <tr>
               <th>銀行名稱</th>
               <th>匯率</th>
               <th>餘額</th>
               <th>總計</th>
               <th></th>
            </tr>
         </thead>
         <tbody></tbody>
      </table>
      <a href="#">Show All article</a>
   </div>
   <!-- End of Recent Orders -->

<script>
function Table_Banks(Orders) {
   // 排序
   Orders.sort(function (a, b) {
      var c = parseInt(a.ntd), d = parseInt(b.ntd);
      var i = d - c;
      return (i == 0 ? 0 : (i > 0 ? 1 : -1)); 
   });
   Orders.forEach(order => {
    order.ntd.toFixed(2);
    const tr = document.createElement('tr');
    const trContent = `
        <td>${order.name}</td>
        <td>${order.rate}</td>
        <td>${order.current}</td>
        <td class="${order.status === 'Declined' ? 'danger' : order.status === 'Pending' ? 'warning' : 'primary'}">${order.ntd}</td>
        <td class="primary">Details</td>
    `;
    tr.innerHTML = trContent;
    document.querySelector('table tbody').appendChild(tr);
   });
}

function DrawChart() {
   var chart = bb.generate({
     data: {
       columns: [
	   ["data1", 30],
	   ["data2", 120]
       ],
       type: "pie" // for ESM specify as: pie()
     },
     bindto: "#pieChart"
   });
   chart.load({});
}

document.addEventListener("DOMContentLoaded",function(){
   // if(DrawChart) DrawChart();
   var banks = {{ $assets.cash.details }}
   Table_Banks(banks);
});
</script>
