{{ $elems := $.Site.Data.liabilities }}
{{ $s := slice }}
{{ range $elem := $elems }}
   {{ $subTotal := 0 }}
   {{ range $elem.details }}
      {{ $subTotal = add $subTotal .principal }}
   {{ end }}
   {{ $s = $s | append $subTotal }}
{{ end }}
{{ $total := add (index $elems 0).total (index $elems 1).total (index $elems 2).total (index $elems 3).total }}
{{ $xTotal := add (index $s 0) (index $s 1) (index $s 2) (index $s 3) }}
   <h1>{{.Name}}</h1>
   <!-- Analyses -->
   <div class="analyse">
   {{ range $elems }}
      {{ partial "analysis.html" . }}	
   {{ end }}
   </div>
<!-- End of Analyses -->
<!-- New Users Section -->
   <div class="new-users">
      <h2>截至目前為止餘額</h2>
      <div class="user-list">
         <div class="meters">
            <div id="meter-1" class="meter-container">
               <div class="meter"></div>
               <h2 title="total:{{lang.NumFmt 0 (index $elems 0).total  "- . ,"}}, 已繳: {{ index $s 0 }}">{{(index $elems 0).bank}}</h2>
            </div>
            <div id="meter-2" class="meter-container">
               <div class="meter"></div>
               <h2 title="total:{{lang.NumFmt 0 (index $elems 1).total  "- . ,"}}, 已繳: {{ index $s 1 }}">{{(index $elems 1).bank}}</h2>
            </div>
            <div id="meter-3" class="meter-container">
               <div class="meter"></div>
               <h2 title="total:{{lang.NumFmt 0 (index $elems 2).total  "- . ,"}}, 已繳: {{ index $s 2 }}">{{(index $elems 2).bank}}</h2>
            </div>
            <div id="meter-4" class="meter-container">
               <div class="meter"></div>
               <h2 title="total:{{lang.NumFmt 0 (index $elems 3).total "- . ," }}, 已繳: {{ index $s 3 }}">{{(index $elems 3).bank}}</h2>
            </div>
            <div id="meter-5" class="meter-container">
               <div class="meter"></div>
               <h2>餘額（{{ lang.NumFmt 0 $total "- . ," }}）</h2>
            </div>
          </div>
      </div>
   </div>
   <!-- End of New Users Section -->
<!-- Recent Orders Table -->
<div class="recent-orders">
             <h2>Recent Orders</h2>
             <table>
                 <thead>
                     <tr>
                         <th>Course Name</th>
                         <th>Course Number</th>
                         <th>Payment</th>
                         <th>期數</th>
                         <th>已繳</th>
                     </tr>
                 </thead>
                 <tbody></tbody>
             </table>
             <a href="#">Show All</a>
</div>
<!-- End of Recent Orders -->
<script>

addBall("Blue", {{ sub (index $elems 0).total (index $s 0) }}, {{(index $elems 0).total}});
addBall("pupple", {{ sub (index $elems 1).total (index $s 1) }}, {{(index $elems 1).total}});
addBall("green", {{ sub (index $elems 2).total (index $s 2) }}, {{(index $elems 2).total}});
addBall("brown", {{ sub (index $elems 3).total (index $s 3) }}, {{(index $elems 3).total}});
addBall("lightblue", {{ $xTotal }}, {{ $total}});

document.addEventListener("DOMContentLoaded",function(){
   AddNodes("#meter-1", ballElements[0]);
   AddNodes("#meter-2", ballElements[1]);
   AddNodes("#meter-3", ballElements[2]);
   AddNodes("#meter-4", ballElements[3]);
   AddNodes("#meter-5", ballElements[4]);
});
</script>
